Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: unigma contributors
Homepage: https://github.com/dashwr/unigma
Installed-Size: @@INSTALLEDSIZE@@
Provides: unigma-@@NAME@@
Conflicts: unigma-@@NAME@@
Replaces: unigma-@@NAME@@
Description: Code editing. Redefined.
 unigma is a code editor focused on local development and automation.
